.spot-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 630px;
    margin: auto;
    padding: none;
}

.create-spot-title {
    text-align: center;
    padding:0 0 10px 0;
    /* border-bottom: 1px solid silver; */
    font-family: Geneva, Verdana, sans-serif;
    /* font-size: 16px; */
    font-weight: 800;
}

.input-details {

    display: block;
    border: auto;
    width:90%;
    padding:15px;
    border-radius: 5px;
    font-family: Geneva, Verdana, sans-serif;
    margin:0px;
}

.submit-button{
    background: rgb(230, 30, 77);
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(160,160,160);
    font-weight: 700px;
    width: 95%;
    margin-top: 40px;
    font-family: Geneva, Verdana, sans-serif;
    transition : background-color 0.5s ease 0s;
    color: white;
}

h2{
    margin-bottom: 30px;
}
