a:link { text-decoration: none; }
a:visited { text-decoration: none; }

.container {
display: grid;
grid-template-columns: repeat(auto-fill, 300px);
justify-content: center;
align-items: center;
grid-gap: 1rem;
row-gap:10px;
column-gap: 10px;
grid-auto-flow: row dense;
list-style: none;
height: auto;
width: auto;
/* margin: 20px 0px 20px;
padding: 0px 40px; */
}


.spotImg{
    width: 260px;
    border-radius: 10px;
    height: 260px;
}


.avg-rating {
    display: flex;
    justify-content: flex-start;
    color: black;
}

.spot-location {
    color: black;
}

.nightly-price {
    color: black;
}

/* div {
    resize: both;
    overflow: auto;
} */
