a:link { text-decoration: none; }
a:visited { text-decoration: none; }

.container {
display: grid;
grid-template-columns: repeat(auto-fill, 330px);
justify-content: center;
grid-gap: 1rem;
row-gap: 10px;
column-gap: 5px;
list-style: none;
height: auto;
width: auto;
margin: auto;

}


.spotImg{
    width: 300px;
    border-radius: 10px;
    height: 300px;
}


.avg-rating {
    /* display: flex;
    justify-content: flex-end; */
    color: black;
}

.spot-location {
    color: black;
}

.nightly-price {
    color: black;
}
