.update-inputs {
    /* display: block;
    width: 400px;
    margin: 15px */
    display: block;
    border: auto;
    width:90%;
    padding:15px;
    border-radius: 5px;
    font-family: Geneva, Verdana, sans-serif;
    margin:0px;
}


.UpdateSpotContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 630px;
    align-items: center;
    /* margin: 16px 0px 40px; */
    margin: auto;
    padding: none;
    width: 400px

  }

h2 {
    margin-bottom: 30px;
}


.update-button{
    background: rgb(230, 30, 77);
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(160,160,160);
    font-weight: 700px;
    width: 95%;
    margin-top: 40px;
    font-family: Geneva, Verdana, sans-serif;
    transition : background-color 0.5s ease 0s;
    color: white;
}
